.aa{
    display: flex;
    margin-left: 220px;
    margin-top: 200px;
}
.path {
    position: relative;
    width: 300px; 
    height: 300px;
    border-radius: 50%;
    background: rgb(255, 187, 51);
    margin:-20px;
}
.path:nth-child(2){
    width: 400px; 
    height: 400px;
}
.path:nth-child(2){
    z-index: 1;
}
.car1{ 
    position: absolute;
    z-index: 3;
    height: 40px;
    width: 70px;
    border-radius: 25%;
    background-color: aliceblue;
    top:0px;
    left: 130px;
    animation: first 2s linear infinite;
    transform-origin: 50% 140px;
}
.car2{
    position: absolute;
    z-index: 5;
    height: 40px;
    width: 70px;
    border-radius: 25%;
    background-color: rgb(240, 248, 255);
    top:0px;
    left: 130px;
    animation: second 2s linear infinite;
    transform-origin: 50% 150px;
    
}
@keyframes first {
    0%{
        transform: rotate(90deg);
        background-color: rgba(240, 248, 255, 0); 
    }
    4%{
        background-color: rgba(240, 248, 255, 0); 
    }
    6%{
        background-color: rgb(240, 248, 255); 
    }
    49%{
        transform: rotate(450deg);
        background-color: rgb(240, 248, 255); 
    }
    50%{
        transform: rotate(450deg);
        background-color: rgb(240, 248, 255); 
    }
    51%{
        transform: rotate(450deg);
        background-color: rgba(240, 248, 255, 0); 
    }
    100%{
        transform: rotate(450deg);
        background-color: rgba(240, 248, 255, 0);
    }
}
@keyframes second {
    0%{
        background-color: rgba(240, 248, 255, 0);
        transform: rotate(270deg);
    }
    47%{
        background-color: rgba(240, 248, 255, 0);
        transform: rotate(270deg);
    }
    48%{
        background-color: rgba(240, 248, 255, 0.628);
        transform: rotate(270deg);
    }
    50%{
        background-color: rgb(240, 248, 255);
        transform: rotate(270deg);
    }
    95%{
        background-color: rgb(240, 248, 255);
    }
    97%{
        background-color: rgba(240, 248, 255, 0);
    }
    100%{
        background-color: rgba(240, 248, 255, 0);
        transform: rotate(-90deg);
    }
}
